@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.carousel {
    overflow: hidden;
    box-sizing: border-box;
    padding: 60px 0;
    // width: 100%;
    white-space: nowrap;
    position: relative;
}

.carousel:before,
.carousel:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.carousel:before {
    left: 0;
    background: linear-gradient(to left, rgba(2, 8, 23, 0), rgba(2, 8, 23, 1));
}

.carousel:after {
    right: 0;
    background: linear-gradient(to right, rgba(2, 8, 23, 0), rgba(2, 8, 23, 1));
}

.carousel:hover .carousel-slide {
    animation-play-state: paused;
}

.carousel-slide {
    display: inline-block;
    animation: 25s slide infinite linear;
}

.carousel-slide .logo-image {
    height: 70px;
    margin: 0 50px;
}