---
import Layout from "@/layouts/Plantilla.astro"
import Carousel from '@/components/Carousel.astro';

import { skills as DeploySkills } from '@/data/pages/skills/deploy-skills';
---
<Layout>
    <div class="container w-4xl boldFont p-4 mt-6 text-center">
        <div class="animate__animated animate__fadeInLeftBig">A veces...</div>
        <div class="animate__animated animate__fadeInBottomRight">desplegar una web puede ser</div>
        <div class="animate__animated animate__slideInUp">un poco caótico</div>

        <div class="font-bold text-md md:text-lg 2xl:text-2xl mt-8">
			Agregare mas cosas a esta página, pero por ahora estas son las herramientas y tecnologías que uso para desplegar páginas web: 
		</div>
    </div>
    <Carousel itemsList={DeploySkills} />
</Layout>

<style>
	.boldFont {
        font-weight: 900;
        font-size: 5em;
	}
    
</style>