---
import Layout from '@/layouts/Layout.astro';

import data from '@/data/pages/side-projects/svelte-library-store/books.json';
// import Library from '@/components/side-projects/Library.svelte';
import Modal from '@/components/Modal.tsx';
import Drawer from '@/components/Drawer.tsx';
---
<Layout>
	<div class="container max-w-xl text-center p-4 mt-8">
		<div class="flex max-w-xl pb-10">
            <div class="font-bold text-3xl 2xl:text-2xl">
                <Drawer client:load/>
            </div>
		</div>
	</div>
</Layout>