---
import Layout from '@/layouts/Plantilla.astro';
---
<Layout>
	<div class="container max-w-xl text-center p-4 mt-8">
		<div class="flex max-w-xl pb-10">
            <div class="font-bold text-3xl 2xl:text-2xl">
                Esta página sera la siguiente en estar lista despues de que las paginas de habilidades esten listas, por favor regresa usando la <span class="text-green-500">barra de navegación</span> en la parte superior de la página.
            </div>
		</div>
	</div>
</Layout>
