---
import Layout from '@/layouts/Plantilla.astro';
---
<Layout>

	<div class="container max-w-xl text-center p-4 mt-8">
		<div class="flex max-w-xl pb-10">
            <div class="font-bold text-3xl 2xl:text-2xl">
                Esta p치gina esta bajo construcci칩n, por favor regresa usando la <span class="text-green-500">barra de navegaci칩n</span> en la parte superior de la p치gina.
            </div>
		</div>
	</div>
</Layout>