---
import "@styles/components/Carousel.scss";
import { type CarouselList } from "@/interfaces/CarouselList";
import CarouselItem from "./CarouselItem.astro";

interface Props {
    itemsList: CarouselList[];
}

let { itemsList } = Astro.props;
---

<div class="carousel w-full">
    <div class="carousel-slide">
        {
            itemsList.map((item) => (
                <CarouselItem title={item.title} iconImg={item.iconImg}></CarouselItem>
            ))
        }
    </div>
</div>

<script is:inline>
    document.addEventListener('astro:page-load', () => {
        const copy = document.querySelector(".carousel-slide");
        if (!copy) return;
        
        document.querySelector(".carousel").appendChild(copy.cloneNode(true));
	});
</script>