---
// import Favicon from '../assets/Favicon.astro';
// import SomeOtherTags from './SomeOtherTags.astro';
const { title = 'Eslavi\'s cv', ...props } = Astro.props;
---
<link rel="sitemap" href="/sitemap-index.xml">
<title>{title}</title>
<meta name="description" content="Bienvenidos a mi página personal" />

<!-- Web analytics -->
<script data-goatcounter="https://my-account.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<!-- Open Graph tags -->
<meta property="og:title" content="Eslavi's cv" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.example.com/" />
<meta property="og:description" content="Bienvenidos a mi página personal" />
<meta property="og:image" content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp">
<meta property="og:image:alt" content="">


<!-- <SomeOtherTags /> -->
 <!-- Favicon universe made by Ariyanto Deni from <a href="https://thenounproject.com/browse/icons/term/universe/" target="_blank" title="universe Icons">Noun Project</a> (CC BY 3.0) -->
 <link rel="icon" type="image/svg+xml" href="/faviconmine.svg" />
<!-- <Favicon /> -->