---
import "@styles/base/base.css";
---

<!DOCTYPE html>
<html>
<head>
<title>Perfil de Jonathan</title>
<style>
body {
background-color: rgb(45, 71, 45);
color: #ffffff; /* Mauve */
font-family: sans-serif;
text-align: center;
}
img {
width: 200px;
height: auto;
border-radius: 50%; /* Para hacerlo circular */
}
</style>
</head>
<body>
<h1 class="text-center text-4xl text-yellow-500">Jonathan Eslavi Medina Dávila</h1>
<p>Ingeniero en Computación Gaupetón signo acuario</p>
<p>Experiencia siendo jefe experto gobernador y novio de Paola Elizabeth .</p>
<p class="text-red-500 font-bold text-5xl">No hablo con mujeres.</p>
<img src="https://img.freepik.com/foto-gratis/gatito-pared-monocromatica-detras-ella_23-2148955134.jpg?t=st=1740261031~exp=1740264631~hmac=2726d62e66a0bb3d018abe7ecb647f1593fa9088e12e0e0f79806da78e5033fe&w=740" alt="Foto de Taylor Swift" class="mx-auto mt-4">
</body>
</html>