---
import Layout from '@/layouts/Layout.astro';
import { Picture } from 'astro:assets';
import CardList from '@/components/CardList.astro';

const currentWorkImg = "/isologo_headerfoot.webp";

const cardList = [
	{
		img: "/isologo_headerfoot.webp",
		imgAlt: "Current work logo",
		title: "Jalisco Government Portal Network",
		description: "Lead Developer and maintainer of every portal to keep it up working, there are more than 70 portals to this date.",
		buttonText: "Read more",
		fullDescription: "In charge of developing any feature our users want to display in their portal (website), and also in charge of updating and maintaining every portal in the network. Currently working in the development of a CI/CD pipeline to update all portals automatically.",
		technologies: ["Python", "Django", "Wagtail", "Angular", "Typescript", "Bootstrap", "Postgresql", "Docker", "Kubernetes", "AWS ECR", "AWS ECS", "AWS S3"]
	},
	{
		img: "/isologo_headerfoot.webp",
		imgAlt: "Current work logo",
		title: "S3 Files Manager",
		description: "Lead Developer in an internal website to manage files in AWS S3.",
		buttonText: "Read more",
		fullDescription: "Highly dynamic website that manages files in AWS S3 using its SDK in a more user friendly way. The website login service is based on Gitlab Oauth2 so we can control who can access the system from our Gitlab instance without having to create a database or any administrator panel inside the website.",
		technologies: ["Astro", "Typescript", "Tailwindcss", "AWS S3 SDK", "Gitlab Oauth2"]
	},
	{
		img: "/isologo_headerfoot.webp",
		imgAlt: "Current work logo",
		title: "Google Analytics Collector",
		description: "Lead Developer of two projects that were related to collect data from Google Analytics across multiple sources that we managed.",
		buttonText: "Read more",
		fullDescription: "The first project was in charge of collecting data from Google Analytics using the Google Analytics SDK and the second project was in charge of triggering every endpoint from the first project as a cron job and store the data in a database to send it to an external dashboard.",
		technologies: ["Java 8", "Springboot", "Spring Batch", "MySQL", "Google Analytics SDK"]
	},
	{
		img: "/isologo_headerfoot.webp",
		imgAlt: "Current work logo",
		title: "Multiple Angular Projects",
		description: "Frontend developer in multiple projects to fix bugs or add new features.",
		buttonText: "Read about bugs",
		fullDescription: "Due to the lack of Angular expertise on our team, I am responsible for fixing bugs and adding new features on multiple projects.",
		technologies: ["Angular", "Typescript", "Bootstrap"]
	},
]
---
<Layout>
	<div class="container max-w-xl md:max-w-4xl p-4 mt-8">
		<div class="flex items-center space-x-3 pb-10">
			<button class="transition md:hover:scale-105">
				<span class="cursor-pointer inline-flex p-2">
					<a href="https://administracion.jalisco.gob.mx/" target="_blank">
						<Picture src={currentWorkImg} alt="Current work logo" width={350} height={100}/>
					</a>
				</span>
			</button>
			<div class="font-bold text-3xl 2xl:text-2xl">
				Currently working <span class="text-green-700 dark:text-green-500">@</span> Secretary of Administration
			</div>
		</div>
		<div class="text-slate-dark-900 dark:text-mauve-900 text-xl/8 2xl:text-2xl/9 text-wrap">
			Have worked here for about 2 years now, as a Fullstack Developer mainly focused on the frontend.
			<p>Over the years, I have had the opportunity to work on a wide range of projects, from small to large, and I have learned a lot from them.</p>
		</div>
	</div>
	<div class="flex flex-col mt-6 text-slate-dark-900 dark:text-mauve-900 text-xl/8 2xl:text-2xl/9 text-wrap">
		<span class="font-bold text-green-700 dark:text-green-500">Some of these projects are:</span>
			
		<CardList cardList={cardList} />
	</div>

</Layout>