---
import Layout from '@/layouts/Layout.astro';
import { Picture } from 'astro:assets';
import CardList from '@/components/CardList.astro';

const currentWorkImg = "/isologo_headerfoot.webp";

const cardList = [
	{
		img: "/isologo_headerfoot.webp",
		imgAlt: "Current work logo",
		title: "Jalisco Government Portals Network",
		description: "Lead Developer and maintainer of every portal to keep it up working, there are more than 70 portals to this date.",
		buttonText: "Read more"
	},
	{
		img: "/isologo_headerfoot.webp",
		imgAlt: "Current work logo",
		title: "Jalisco Government Portals Network",
		description: "Lead Developer and maintainer of every portal to keep it up working, there are more than 70 portals to this date.",
		buttonText: "Read more"
	},
	{
		img: "/isologo_headerfoot.webp",
		imgAlt: "Current work logo",
		title: "Jalisco Government Portals Network",
		description: "Lead Developer and maintainer of every portal to keep it up working, there are more than 70 portals to this date.",
		buttonText: "Read more"
	},
]
---
<Layout>
	<div class="container max-w-xl md:max-w-4xl p-4 mt-8">
		<div class="flex items-center space-x-3 pb-10">
			<button class="transition md:hover:scale-105">
				<span class="cursor-pointer inline-flex p-2">
					<a href="https://administracion.jalisco.gob.mx/" target="_blank">
						<Picture src={currentWorkImg} alt="Current work logo" width={350} height={100}/>
					</a>
				</span>
			</button>
			<div class="font-bold text-3xl 2xl:text-2xl">
				Currently working <span class="text-green-500">@</span> Secretary of Administration
			</div>
		</div>
		<div class="text-slate-dark-900 dark:text-mauve-900 text-xl/8 2xl:text-2xl/9 text-wrap">
			Have worked here for about 2 years now, as a Fullstack Developer mainly focused on the frontend.
			<p>Over the years, I have had the opportunity to work on a wide range of projects, from small to large, and I have learned a lot from them.</p>
		</div>
		<div class="mt-8 w-5xl text-slate-dark-900 dark:text-mauve-900 text-xl 2xl:text-2xl text-wrap">
			
			<!-- <ul class="list-inside list-disc mt-6 marker:text-green-500">
				<li>Lead Developer of the <span class="font-bold text-green-500">Jalisco Government Portal Network</span>, and maintainer of every portal to keep it up working, there are more than 70 portals to this date.</li>
				</ul> -->
			</div>
		</div>
	<div class="mt-6 text-slate-dark-900 dark:text-mauve-900 text-xl/8 2xl:text-2xl/9 text-wrap">
		<span class="font-bold text-green-500">Some of these projects are:</span>
			
		<CardList cardList={cardList} />
	</div>

</Layout>