---
import Layout from '@/layouts/Layout.astro';
import { Icon } from "astro-icon/components";
import CardListIcon from '@/components/CardListIcon.astro';

import { cardListIcon } from "@/data/pages/work/previousWork-data";
---
<Layout>
	<div class="container max-w-xl md:max-w-4xl p-4 mt-8">
		<div class="flex items-center space-x-3 pb-10">
			<button class="transition md:hover:scale-105">
				<span class="cursor-(--cursorPointer) inline-flex p-2">
					<a href="https://administracion.jalisco.gob.mx/" target="_blank">
						<Icon name="work/ibm" class="size-[120px] text-blue-500" />
					</a>
				</span>
			</button>
			<div class="font-bold text-3xl 2xl:text-2xl">
				My previous work experience was <span class="text-green-700 dark:text-green-500">@</span> IBM
			</div>
		</div>
		<div class="text-slate-dark-900 dark:text-mauve-900 text-xl/8 2xl:text-2xl/9 text-wrap">
			Worked here for one year as a intern Fullstack Developer.
			<p>Was on charged of one of the modules of a big project they had to perform various tasks in the financial sector of the company.</p>
		</div>
	</div>
	<div class="flex flex-col mt-6 text-slate-dark-900 dark:text-mauve-900 text-xl/8 2xl:text-2xl/9 text-wrap">
		<span class="font-bold text-green-700 dark:text-green-500">Some of these projects are:</span>
			
		<CardListIcon cardListIcon={cardListIcon} />
	</div>

</Layout>