---
import "@styles/pages/timeline-style.scss";
import Layout from '@/layouts/Layout.astro';
import { TimelineContent } from '@/components/TimelineContent';

import { TypingAnimationYearComponent as TAY } from '@/components/animations/textAnimation/TypingAnimation';

import { timeline as data } from '@/data/pages/work/timeline-data';
---
<Layout className='parent max-w-7xl mx-auto'>

	<div class="timelineZone">
		<div class="tick selected" data-year="2025">
			<button class="year-button"></button>
		</div>
		<div class="tick" data-year="2024">
			<button class="year-button"></button>
		</div>
		<div class="tick" data-year="2023">
			<button class="year-button"></button>
		</div>
		<div class="tick" data-year="2022">
			<button class="year-button"></button>
		</div>
		<div class="tick" data-year="2021">
			<button class="year-button"></button>
		</div>
		<div class="tick" data-year="2020">
			<button class="year-button"></button>
		</div>
		<div class="tick" data-year="2019">
			<button class="year-button"></button>
		</div>
		<div class="tick" data-year="2018">
			<button class="year-button"></button>
		</div>
	</div>
	<div class="yearZone"><TAY className='text-5xl font-semibold leading-none sm:text-6xl md:text-7xl lg:text-8xl' client:only="react"/></div>
	<div class="filterZone">Aqui ira el filtro</div>
	<div class="contentZone">
		<div id="content-2025" class="content">
			<TimelineContent data={ data[2025] } client:load />
		</div>
		<div id="content-2024" class="content hidden">
			<TimelineContent data={ data[2024] } client:load/>
		</div>
		<div id="content-2023" class="content hidden">
			<TimelineContent data={ data[2023] } client:load/>
		</div>
		<div id="content-2022" class="content hidden">
			<TimelineContent data={ data[2022] } client:load/>
		</div>
		<div id="content-2021" class="content hidden">
			<TimelineContent data={ data[2021] } client:load/>
		</div>
		<div id="content-2020" class="content hidden">
			<TimelineContent data={ data[2020] } client:load/>
		</div>
		<div id="content-2019" class="content hidden">
			<TimelineContent data={ data[2019] } client:load/>
		</div>
		<div id="content-2018" class="content hidden">
			<TimelineContent data={ data[2018] } client:load/>
		</div>
	</div>

</Layout>

<script is:inline>
	document.addEventListener('astro:page-load', () => {
		const buttons = document.querySelectorAll('button.year-button');

		buttons.forEach((button) => {
			button.addEventListener('click', () => {
				// Remove selected class from all buttons
				document.querySelectorAll('.tick').forEach((tick) => tick.classList.remove('selected'));

				const parent = button.parentElement; // tick
				const year = parent.getAttribute('data-year');

				const contentZone = document.querySelector('.contentZone');
				const content = contentZone.querySelector(`#content-${year}`);
	
				// Hide all contents
				contentZone.querySelectorAll('.content').forEach((c) => c.classList.add('hidden'));
	
				// Show the selected content
				content.classList.remove('hidden');
	
				// Add selected class to the tick
				parent.classList.add('selected');
			});
		});
	});
</script>