---
import Layout from '@/layouts/Layout.astro';
import "@styles/pages/timeline-style.scss";
---
<Layout className='parent max-w-7xl mx-auto'>

	<div class="timelineZone">
		<div class="tick" data-year="2018"></div>
		<div class="tick" data-year="2019"></div>
		<div class="tick" data-year="2021"></div>
		<div class="tick" data-year="2022"></div>
		<div class="tick" data-year="2023"></div>
		<div class="tick" data-year="2024"></div>
		<div class="tick" data-year="2025"></div>
	</div>
	<div class="yearZone"> buenas</div>
	<div class="filterZone"> tardes</div>
	<div class="contentZone"> o noches?</div>
	<!-- <div class="parent">
	</div> -->

</Layout>
