---
import "@styles/pages/backend-style.scss";

import { Picture } from 'astro:assets';
import ballNoFace from "@/assets/Circle_No_Face.svg";
import ballWithFace from "@/assets/Circle_Face.svg";


import Layout from '@/layouts/Layout.astro';
import Carousel from '@/components/Carousel.astro';


import { skills as backendSkills } from '@/data/pages/skills/backend-skills';
---

<!-- <input type="checkbox" id="toggle" class="display-block" />
<div class="layer" id="layer1">
	<div class="text">Orange</div>

  <div class="can-container">
	<img src="/Circle_No_face.svg" alt="" class="can-img" />

  </div>


  <label for="toggle">Click to Slide</label>
</div>
<div class="layer" id="layer2">
  <div class="text">Pineapple</div>

  <div class="can-container">
	<img src="/Circle_Face.svg" alt="" class="can-img" />

  </div>

  <label for="toggle">Click to Slide</label>
</div> -->

<Layout className="p-0">

	<div class="container w-4xl boldFont p-4 mt-6 text-center">
        <div class="animate__animated animate__fadeInLeftBig">Sometimes...</div>
        <div class="animate__animated animate__fadeInBottomRight">what matters it's</div>
        <div class="animate__animated animate__zoomIn">a little bit hidden</div>
    </div>

	<div class="flex flex-col items-center">
		<!-- Checkbox oculto -->
		<input type="checkbox" id="backendCheckBox" class="hidden peer" />
	  
		<!-- Contenedor de las esferas -->
		<div class="relative w-42 h-42 md:w-72 md:h-72">
		  <!-- Esfera sin rostro -->
		  <Picture 
			src={ballNoFace} 
			alt="Simple ball" 
			class="absolute inset-0 transition-opacity duration-500 peer-has-checked:opacity-0"
		  />
		  <!-- Esfera con cara -->
		  <Picture 
			src={ballWithFace} 
			alt="Smiley face" 
			class="absolute inset-0 transition-opacity duration-500 opacity-0 peer-has-checked:opacity-100"
		  />
		</div>
	  
		<!-- Botón toggle -->
		<label 
		  for="backendCheckBox" 
		  class="mt-4 cursor-pointer px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition"
		>
		  Show what matters
		</label>
	  </div>

	<div class="container text-center p-6 mt-4 mb-6 ml-6">
		<div class="font-bold text-md md:text-lg 2xl:text-2xl">
			I'll add more things to this page, but for now this is my backend stack: 
		</div>
	</div>
	<Carousel itemsList={backendSkills} />
</Layout>