---
import { Picture } from 'astro:assets';
import ballNoFace from "@/assets/Circle No face.svg";
import ballWithFace from "@/assets/Circle Face.svg";


import Layout from '@/layouts/Layout.astro';
import Carousel from '@/components/Carousel.astro';


import { skills as backendSkills } from '@/data/pages/skills/backend-skills';
---
<Layout className="p-0">

	<div class="container w-4xl boldFont p-4 mt-6 text-center">
        <div class="animate__animated animate__fadeInLeftBig">Sometimes...</div>
        <div class="animate__animated animate__fadeInBottomRight">what matters it's</div>
        <div class="animate__animated animate__zoomIn">a little bit hidden</div>
    </div>

	<div class="layer" id="backendLayer">
		<div class="flex align-items-center justify-content-center">
			<Picture src={ballNoFace} alt="Ball with no face" class="size-42 md:size-72"/>
			<Picture src={ballWithFace} alt="Ball with face" class="size-42 md:size-72"/>
		</div>
	</div>

	<div class="container text-center p-6 mt-4 mb-6 ml-6">
		<div class="font-bold text-md md:text-lg 2xl:text-2xl">
			I'll add more things to this page, but for now this is my backend stack: 
		</div>
	</div>
	<Carousel itemsList={backendSkills} />
</Layout>