---
import Layout from "@/layouts/Layout.astro"
---
<Layout>
    <div class="container w-4xl fontText p-4 mt-6 text-center">
        <div class="animate__animated animate__fadeInLeftBig">Sometimes...</div>
        <div class="animate__animated animate__fadeInBottomRight">deploying can be</div>
        <div class="animate__animated animate__slideInUp">a little bit chaotic</div>
    </div>
</Layout>

<style>
	.fontText {
		font-family: 'Montserrat', 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 5em;
	}
    
</style>