---
import Layout from '@/layouts/Layout.astro';
import Carousel from '@/components/Carousel.astro';

import { skills as frontendSkills } from '@/data/pages/skills/frontend-skills';
---
<Layout>
	<div class="perspective-distant place-items-center">
		<img src="/asking.webp" width="20%" class="-mb-25 transform-3d translate-x-10" alt="">
		<div class="container">
			<div class="boldFont text-center rotate-x-51 rotate-z-23 transform-3d -mt-5">
				<div class="animate__animated animate__fadeInLeftBig">Sometimes...</div>
				<div class="animate__animated animate__fadeInBottomRight">your website can look</div>
				<div class="animate__animated animate__slideInUp">a little bit fuzzy</div>
				<Carousel itemsList={frontendSkills} />
			</div>
		</div>
	</div>
	<div class="container w-4xl p-4 mt-10 text-center">
		<span>In case you are wondering. This page isn't over, I'll still add more things, sorry for the delay</span>
	</div>
</Layout>