---
import Layout from '@/layouts/Layout.astro';
import Carousel from '@/components/Carousel.astro';

const skills: { title: string; iconImg: string; }[] = [
	{
		title: "Astro",
		iconImg: "frontend/astro-icon",
	},
	{
		title: "React",
		iconImg: "frontend/react-icon",
	},
	{
		title: "Angular",
		iconImg: "frontend/angular-icon",
	},
	{
		title: "Typescript",
		iconImg: "frontend/typescript-icon",
	},
	{
		title: "Svelte",
		iconImg: "frontend/svelte-icon",
	},
	{
		title: "Javascript",
		iconImg: "frontend/javascript-icon",
	},
	{
		title: "Tailwindcss",
		iconImg: "frontend/tailwindcss-icon",
	},
	{
		title: "Bootstrap",
		iconImg: "frontend/bootstrap-icon",
	},
	{
		title: "SASS",
		iconImg: "frontend/sass-icon",
	},
	{
		title: "HTML",
		iconImg: "frontend/html-icon",
	},
	{
		title: "CSS",
		iconImg: "frontend/css-icon",
	},
	{
		title: "Thymeleaf",
		iconImg: "frontend/thymeleaf-icon",
	},
]
---
<Layout className="items-start p-0">
	<div class="container text-center p-6 mt-4 mb-6 ml-6">
		<div class="font-bold text-md md:text-lg 2xl:text-2xl">
			I'll add more things to this page, but for now this is my frontend stack: 
		</div>
	</div>
	<Carousel itemsList={skills} />
</Layout>