---
import Layout from '@/layouts/Layout.astro';
import Carousel from '@/components/Carousel.astro';

const skills: { title: string; iconImg: string; }[] = [
	{
		title: "Astro",
		iconImg: "frontend/astro-icon",
	},
	{
		title: "React",
		iconImg: "frontend/react-icon",
	},
	{
		title: "Angular",
		iconImg: "frontend/angular-icon",
	},
	{
		title: "Typescript",
		iconImg: "frontend/typescript-icon",
	},
	{
		title: "Svelte",
		iconImg: "frontend/svelte-icon",
	},
	{
		title: "Javascript",
		iconImg: "frontend/javascript-icon",
	},
	{
		title: "Tailwindcss",
		iconImg: "frontend/tailwindcss-icon",
	},
	{
		title: "Qwik",
		iconImg: "frontend/qwik-icon",
	},
	{
		title: "Bootstrap",
		iconImg: "frontend/bootstrap-icon",
	},
	{
		title: "SASS",
		iconImg: "frontend/sass-icon",
	},
	{
		title: "HTML",
		iconImg: "frontend/html-icon",
	},
	{
		title: "CSS",
		iconImg: "frontend/css-icon",
	},
	{
		title: "Thymeleaf",
		iconImg: "frontend/thymeleaf-icon",
	},
]
---
<Layout>
	<div class="perspective-distant place-items-center">
		<img src="/asking.webp" width="20%" class="-mb-25 transform-3d translate-x-10" alt="">
		<div class="container">
			<div class="boldFont text-center rotate-x-51 rotate-z-23 transform-3d -mt-5">
				<div class="animate__animated animate__fadeInLeftBig">Sometimes...</div>
				<div class="animate__animated animate__fadeInBottomRight">your website can look</div>
				<div class="animate__animated animate__slideInUp">a little bit fuzzy</div>
				<Carousel itemsList={skills} />
			</div>
		</div>
	</div>
	<div class="container w-4xl p-4 mt-10 text-center">
		<span>In case you are wondering. This page isn't over, I'll still add more things, sorry for the delay</span>
	</div>
</Layout>

<style>
	.boldFont {
        font-weight: 900;
        font-size: 5em;
	}
    
</style>