---
import Layout from '@/layouts/Layout.astro';
import EnterMotion from "@/components/animations/EnterMotion";
---
<Layout>

	<div class="container max-w-xl md:max-w-4xl fontText p-4 mt-8">

		<div class="flex max-w-xl pb-10">
			<div class="flex items-center space-x-3">
				<button class="flex items-center transition md:justify-center md:hover:scale-105">
					<span class="relative inline-flex overflow-hidden rounded-full p-[2px]">
						<span id="animated-spin"></span>
						<div class="rounded-full cursor-pointer backdrop-blur-3xl">
							<EnterMotion client:only>
								<img class="rounded-full size-28" src="/me-rounded.jpeg" alt="Rostro de Eslavi"/>
							</EnterMotion>
						</div>
					</span>
				</button>
				<div class="font-bold text-3xl 2xl:text-2xl">
					<EnterMotion client:only>
						Hola! me llamo <span class="text-green-500">Eslavi</span>...
					</EnterMotion>
				</div>
			</div>
		</div>
		<div class="text-slate-dark-900 dark:text-mauve-900 text-xl 2xl:text-2xl text-wrap md:text-nowrap">
			y espero que disfrutes navegando por mi página como yo disfrute el proceso de crearla
		</div>
		<div class="mt-8 w-5xl text-slate-dark-900 dark:text-mauve-900 text-xl 2xl:text-2xl text-wrap">
			+3 años de experiencia trabajando como desarrollador Fullstack. Carrera universitaria en Ingeniería en Computación y residiendo en Guadalajara, México.
			Amo jugar videojuegos, involucrarme en nuevas experiencias y conocer a nuevas personas
		</div>

		<div class="mt-8 w-5xl text-slate-dark-900 dark:text-mauve-900 text-xl 2xl:text-2xl text-wrap md:text-nowrap">
			Necesitas irte pronto? Puedes <a class="text-green-500" href="/eslavi-cv-español.pdf" target="_blank">descargar mi CV</a> en formato PDF
		</div>

		<div class="mt-8 w-5xl text-slate-dark-900 dark:text-mauve-900 text-xl 2xl:text-2xl text-wrap">
			Perdon de momento pero la version de ingles es la que estoy trabando mas por el momento, aunque aun falta mucho por terminar puedes seguir atento a los cambios
		</div>

	</div>
</Layout>

<script is:inline>
	document.addEventListener('astro:page-load', () => { 
		const animatedSpin = document.querySelector('#animated-spin');
		
		setTimeout(() => {
			animatedSpin.classList.add('animated-spin-slow');
		}, 800)
	});
</script>

<style>
	.fontText {
		font-family: 'Montserrat', 'Roboto', sans-serif;
	}
</style>