---
import "@radix-ui/themes/styles.css";
import "@styles/base/base.css";
import "@styles/animations/photo-spin.scss";
import "animate.css";
// import ThemeProvider from '@/theme/ThemeProvider.tsx';

import Navbar from '@/components/Navbar.tsx';
import NavbarTranslate from '@/components/NavbarTranslate.tsx';

import Head from '@/components/Head.astro';
import Header from "@/components/layout/Header.astro";
import ThemeToggle from "@/components/ThemeToggle";
import Sonner from "@/components/Sonner.tsx";
import WhatsappDialog from "@/components/Whatsapp-dialog.tsx";
import { Toaster } from "@/components/ui/sonner";

import Analytics from '@vercel/analytics/astro';
import { Icon } from "astro-icon/components";

const currentPath = Astro.url.pathname.replace(/^\/(en|es)\//, '/');
const lang = Astro.currentLocale || 'en';
---
<!doctype html>
<html lang="en">
	<head>
		<Head />
	</head>
	<body class="dark">
		<Header>
			<Navbar slot="mid-header" client:load>
				<Icon name="mdi:chart-timeline-variant-shimmer" slot="iconTimeline" class="size-[120px] text-white" />
				<Icon name="mdi:server-security" slot="iconBack" class="size-[120px] text-white mx-auto" />
				<Icon name="mdi:monitor-shimmer" slot="iconFront" class="size-[120px] text-white mx-auto" />
			</Navbar>
			<div class="flex items-center gap-x-2 2xl:gap-x-6 lg:gap-x-4 md:gap-x-4" slot="right-header">
				<NavbarTranslate lang={lang} currentPath={currentPath} client:load>
					<Icon slot="iconLang" name="mdi:language" class="size-[22px] mr-1" />
					<Icon slot="iconUsa" name="flag-us" class="size-[25px] m-0" />
					<Icon slot="iconMx" name="flag-mx" class="size-[25px] m-0" />
				</NavbarTranslate>
				<a
				href="https://github.com/eslavidaloca"
				target="_blank"
				rel="noreferrer"
				aria-label="github"
				class="transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground rounded-md p-2"
				>
				<Icon name="github" class="size-[22px]" />  <!-- TODO: this size is what is causing that popup when refreshing the page -->
				</a>
				<a
				href="https://www.linkedin.com/in/eslavi/"
				target="_blank"
				rel="noreferrer"
				aria-label="linkedin"
				class="transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground rounded-md p-2"
				>
				<Icon name="linkedin" class="size-[22px] stroke-0" />
				</a>
				<WhatsappDialog client:load>
					<Icon slot="iconWhatsapp" name="mdi:whatsapp" class="size-[22px] stroke-0" />
				</WhatsappDialog>
				<Sonner client:load>
					<Icon slot="iconBtn" name="mdi:email-outline" class="size-[22px] stroke-0" />
				</Sonner>
				
				<ThemeToggle client:load />
			</div>
		</Header>
		<!-- <ThemeProvider client:load> -->
			<main class="flex flex-col items-center justify-between p-6">
				<slot />
			</main>
		<!-- </ThemeProvider> -->
		<Analytics />

		<Toaster client:only/> 
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.dark {
		background-image: url("/src/assets/memphis-mini-dark.webp");
	}
	.light {
		background-image: url("/src/assets/memphis-mini.webp");
	}
</style>
